# Examen Parcial n°1 2da Parte - TLP3 - Python para Ciencia de Datos.

**A partir del datasets brindado, realizar los siguientes procedimientos:**

* Importar datasets con Pandas.
* Explorar los datos con los metodos correspondientes. 
* Limpieza de los datos (Normalización de datos).
* Obtener estadisticas.
* Mostrar los datos procesados con graficos utilizando la libreria Matplotlib.
* Exportar el contenido a un archivo sqlite utilizando PANDAS.


**Importante: Se debe documentar cada procedimiento realizado, siguiendo la siguiente estructura:**

1. Celda de Markdown (Documentación)
2. Código (Sin comentarios, se debe documentar lo sufiente solo en la celda de markdown).


### Criterios de Evaluación:

1. No esta permitido el uso de IAs durante el examen. (Desactivar Copilot o cualquier herramienta de IA para autocompletar codigo.)

2. Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).

3. Comentarios claros y concisos que expliquen el propósito de cada sección del código en una celda de markdown antes del código.

4. Utilizar mensajes de commit descriptivos. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE).

5. Entrega en tiempo y forma (Parciales entregados fuera de hora o con commits pasados el horario de entrega quedará invalidado.)

6. Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: 
**parcial1_tlp3_nombre_apellido**).

7. Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter.

8. Deben trabajar con el datasets adjunto.

9. Una vez finalizado el examen, los resultados deben quedar guardados debajo de cada celda (NO EJECUTAR LA OPCIÓN "borrar todas las salidas").

**Importante:** Una vez finalizado el examen, marcar como completado en el classroom.

## Actividades:

### 1. Importación del Dataset con Pandas

En esta sección, se debe utilizar la librería Pandas para cargar el archivo CSV que contiene los datos de VENTAS en un DataFrame.

In [2]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('ventas.csv')

### 2. Exploración Inicial de los Datos

A continuación, se deben emplear métodos de Pandas para obtener una visión general del dataset. 
- 2.1: Visualizar las primeras filas y ultimas.
- 2.2: Obtener informacion del df con su metodo correspondiente.
- 2.3: Hacer un conteo de valores nulos.

In [4]:
df.head()

,ID_Venta,Nombre_Cliente,Apellido_Cliente,Fecha,Producto,Cantidad,Precio_Unitario,Total_Venta,Metodo_Pago,Region
0,1,Ana,García,01-05-2024,Laptop,1,1200.50,1200.50,Tarjeta de Crédito,Norte
1,2,Carlos,López,2024-01-08,Mouse Inalámbrico,2,25.75,51.50,Efectivo,Sur
2,3,sofía,martínez,2024-01-12,Teclado Mecánico,1,75.99,75.99,Transferencia Bancaria,Este
3,4,pedro,rodríguez,2024-01-15,Monitor 24 pulgadas,1,NaN,NaN,Tarjeta de Débito,Oeste
4,5,Laura,Sánchez,18-01-2024,Auriculares Bluetooth,1,99.95,99.95,Tarjeta de Crédito,Norte

In [5]:
df.tail()

,ID_Venta,Nombre_Cliente,Apellido_Cliente,Fecha,Producto,Cantidad,Precio_Unitario,Total_Venta,Metodo_Pago,Region
100,101,Agustín,Torres,2024-10-08,Pen Drive 64GB,4,8.75,35.0,Tarjeta de Débito,Oeste
101,102,Camila,Vega,2024-10-11,Laptop Ligera,1,NaN,1180.0,Tarjeta de Crédito,Norte
102,103,Juan,Rojas,2024-10-15,NaN,1,48.99,NaN,Efectivo,Sur
103,104,Lucía,Silva,2024-10-18,Teclado Bluetooth,1,78.20,78.2,Transferencia Bancaria,Este
104,105,mateo,luna,2024-10-22,Monitor para Oficina,1,2.00,210.5,Tarjeta de Débito,Oeste

In [6]:
df.info

<bound method DataFrame.info of      ID_Venta Nombre_Cliente Apellido_Cliente       Fecha  \
0           1            Ana           García  01-05-2024
1           2         Carlos            López  2024-01-08
2           3          sofía         martínez  2024-01-12
3           4          pedro        rodríguez  2024-01-15
4           5          Laura          Sánchez  18-01-2024
..        ...            ...              ...         ...
100       101        Agustín           Torres  2024-10-08
101       102         Camila             Vega  2024-10-11
102       103           Juan            Rojas  2024-10-15
103       104          Lucía            Silva  2024-10-18
104       105          mateo             luna  2024-10-22

                  Producto  Cantidad  Precio_Unitario  Total_Venta  \
0                   Laptop         1          1200.50      1200.50
1        Mouse Inalámbrico         2            25.75        51.50
2         Teclado Mecánico         1            75.99        75.99
3      Monitor 24 pulgadas         1              NaN          NaN
4    Auriculares Bluetooth         1            99.95        99.95
..                     ...       ...              ...          ...
100         Pen Drive 64GB         4             8.75        35.00
101          Laptop Ligera         1              NaN      1180.00
102                    NaN         1            48.99          NaN
103      Teclado Bluetooth         1            78.20        78.20
104   Monitor para Oficina         1             2.00       210.50

                Metodo_Pago Region
0        Tarjeta de Crédito  Norte
1                  Efectivo    Sur
2    Transferencia Bancaria   Este
3         Tarjeta de Débito  Oeste
4        Tarjeta de Crédito  Norte
..                      ...    ...
100       Tarjeta de Débito  Oeste
101      Tarjeta de Crédito  Norte
102                Efectivo    Sur
103  Transferencia Bancaria   Este
104       Tarjeta de Débito  Oeste

[105 rows x 10 columns]>

In [7]:
df.dtypes

ID_Venta              int64
Nombre_Cliente       object
Apellido_Cliente     object
Fecha                object
Producto             object
Cantidad              int64
Precio_Unitario     float64
Total_Venta         float64
Metodo_Pago          object
Region               object
dtype: object

In [8]:
df.isnull().sum()

ID_Venta             0
Nombre_Cliente       0
Apellido_Cliente     0
Fecha                0
Producto             4
Cantidad             0
Precio_Unitario     13
Total_Venta         13
Metodo_Pago         11
Region               5
dtype: int64

In [9]:
df['Precio_Unitario'].unique()

array([1200.5 ,   25.75,   75.99,     nan,   99.95,   45.5 ,  150.75,
        110.  ,   65.8 , 1150.  ,   28.99,  320.  ,   79.99,  220.5 ,
         85.75,   75.  ,   35.  , 1350.75,   42.2 ,   55.99,  450.  ,
         69.5 ,   80.  ,  120.  , 1800.99,   38.75,  110.5 ,   49.99,
        150.  ,   25.  ,  130.2 ,   12.5 , 1550.  ,   15.99,   35.5 ,
        180.  ,  120.75,   30.  ,   88.99,   18.2 ,  165.  ,  450.5 ,
       1280.  ,   52.75,   92.99,  310.  ,   75.5 ,   60.2 ,  580.  ,
         19.99,  240.  ,   20.  , 1420.5 ,   18.5 ,   85.  ,  155.99,
         99.  ,  185.2 ,   70.  ,   95.5 ,  280.  , 1300.99,   32.5 ,
         62.75,  520.  ,  180.5 ,  115.  ,  135.8 ,   15.  ,   55.  ,
          8.75, 1180.  ,   48.99,   78.2 ,  210.5 ,    2.  ])

In [10]:
df['Total_Venta'].unique()

array([1200.5 ,   51.5 ,   75.99,     nan,   99.95,   45.5 ,  150.75,
        110.  ,   65.8 , 1150.  ,   28.99,  141.  ,  320.  ,  180.  ,
         79.99,  220.5 ,   85.75,   75.  ,   70.  , 1350.75,   42.2 ,
         55.99,  450.  ,   69.5 ,   29.95,   80.  ,  120.  , 1800.99,
         38.75,  110.5 ,   99.98,  150.  ,  350.75,   25.  ,    0.  ,
         37.5 ,   35.5 ,   30.  ,   88.99,   36.4 ,  165.  ,  450.5 ,
       1280.  ,   52.75,   92.99,  310.  ,   75.5 ,   60.2 ,  580.  ,
         19.99,  240.  , 1420.5 ,   37.  ,   85.  ,  390.75,  155.99,
         99.  ,  185.2 ,   95.5 ,  280.  ,   32.5 ,   62.75,  520.  ,
        180.5 ,  115.  ,  135.8 ,   55.  ,   35.  , 1180.  ,   48.99,
         78.2 ,  210.5 , 1300.99])

In [11]:
df['Region'].unique()

array(['Norte', 'Sur', 'Este', 'Oeste', nan], dtype=object)

In [12]:
df['Fecha'].unique()

array(['01-05-2024', '2024-01-08', '2024-01-12', '2024-01-15',
       '18-01-2024', '2024-01-22', '2024-01-25', '2024-01-29',
       '2024-02-02', '2024-02-05', '2024-02-09', '2024-02-12',
       '2024-02-16', '2024-02-19', '2024-02-23', '2024-02-26',
       '2024-03-01', '2024-03-05', '2024-03-08', '2024-03-12',
       '2024-03-15', '19-03-2024', '2024-03-22', '2024-03-26',
       '2024-03-29', '2024-04-02', '2024-04-05', '2024-04-09',
       '2024-04-12', '2024-04-16', '2024-04-19', '2024-04-23',
       '2024-04-26', '2024-04-30', '2024-05-03', '2024-05-07',
       '2024-05-10', '2024-05-14', '2024-05-17', '2024-05-21',
       '2024-05-24', '2024-05-28', '2024-05-31', '2024-06-04',
       '2024-06-07', '2024-06-11', '2024-06-14', '2024-06-18',
       '2024-06-21', '2024-06-25', '2024-06-28', '2024-07-02',
       '2024-07-05', '2024-07-09', '2024-07-12', '2024-07-16',
       '2024-07-19', '2024-07-23', '2024-07-26', '2024-07-30',
       '2024-08-02', '2024-08-06', '2024-08-09', '2024-08-13',
       '2024-08-16', '2024-08-20', '2024-08-23', '2024-08-27',
       '2024-08-30', '2024-09-03', '2024-09-06', '2024-09-10',
       '2024-09-13', '2024-09-17', '2024-09-20', '2024-09-24',
       '2024-09-27', '2024-10-01', '2024-10-04', '2024-10-08',
       '2024-10-11', '2024-10-15', '2024-10-18', '2024-10-22'],
      dtype=object)

In [13]:
df['Metodo_Pago'].unique()

array(['Tarjeta de Crédito', 'Efectivo', 'Transferencia Bancaria',
       'Tarjeta de Débito', nan], dtype=object)

### 3. Limpieza y Normalización de los Datos

- 3.1. Esta etapa crucial deben aplicar la corrección de diversos errores presentes en el dataset. Se abordarán los valores faltantes (Deben aplicar los metodos que ustedes crean convenientes **(Solo 1)**, por ejemplo: Eliminación de filas, cubrir valores con media, mediana, etc.)
- 3.2: La columna Fecha deberan pasarla al tipo datetime con su metodo correspondiente.
- 3.3: Corregir las mayusculas en el caso de Nombre y Apellido (Si es que corresponde.)

In [14]:
df = df.replace('', pd.NA)

In [15]:
mediana_precio_unitario = df['Precio_Unitario'].median()
df['Precio_Unitario'] = df['Precio_Unitario'].fillna(mediana_precio_unitario)
df['Precio_Unitario'] = df['Precio_Unitario'].round(2)

In [16]:
mediana_total_venta = df['Total_Venta'].median()
df['Total_Venta'] = df['Total_Venta'].fillna(mediana_total_venta)
df['Total_Venta'] = df['Total_Venta'].round(2)

In [17]:
df['Producto'] = df['Producto'].fillna('No Disponible')

In [18]:
df['Metodo_Pago'] = df['Metodo_Pago'].fillna('Sin Especificar')

In [19]:
df['Region'] = df['Region'].fillna('Sin Especificar')

In [20]:
formato_1 = pd.to_datetime(df['Fecha'],  format="%Y-%m-%d",errors='coerce')
formato_2 = pd.to_datetime(df['Fecha'],  format="%d-%m-%Y",errors='coerce')

df['Fecha'] = formato_1.combine_first(formato_2)

In [22]:
df['Nombre_Cliente'] = df['Nombre_Cliente'].str.title()
df['Apellido_Cliente'] = df['Apellido_Cliente'].str.title()

### 4. Obtención de Estadísticas Descriptivas

Después de la limpieza, deben hacer lo siguiente: 

- 4.1: calcular nuevamente las estadísticas descriptivas para observar el impacto del proceso de limpieza en los datos numéricos.
- 4.2: Calcular estadísticas específicas por grupo (Agrupar dos columnas).

In [32]:
df.head()

,ID_Venta,Nombre_Cliente,Apellido_Cliente,Fecha,Producto,Cantidad,Precio_Unitario,Total_Venta,Metodo_Pago,Region
0,1,Ana,García,2024-05-01,Laptop,1,1200.50,1200.50,Tarjeta de Crédito,Norte
1,2,Carlos,López,2024-01-08,Mouse Inalámbrico,2,25.75,51.50,Efectivo,Sur
2,3,Sofía,Martínez,2024-01-12,Teclado Mecánico,1,75.99,75.99,Transferencia Bancaria,Este
3,4,Pedro,Rodríguez,2024-01-15,Monitor 24 pulgadas,1,90.99,97.25,Tarjeta de Débito,Oeste
4,5,Laura,Sánchez,2024-01-18,Auriculares Bluetooth,1,99.95,99.95,Tarjeta de Crédito,Norte

In [27]:
df.describe()

,ID_Venta,Fecha,Cantidad,Precio_Unitario,Total_Venta
count,105.000000,105,105.000000,105.000000,105.000000
mean,53.000000,2024-06-21 13:42:51.428571392,1.190476,222.084952,232.019143
min,1.000000,2024-01-08 00:00:00,1.000000,2.000000,0.000000
25%,27.000000,2024-04-09 00:00:00,1.000000,55.000000,62.750000
50%,53.000000,2024-07-05 00:00:00,1.000000,90.990000,97.250000
75%,79.000000,2024-09-06 00:00:00,1.000000,165.000000,185.200000
max,105.000000,2024-10-22 00:00:00,4.000000,1800.990000,1800.990000
std,30.454885,NaN,0.538788,370.809510,357.618804

In [26]:
df.isnull().sum()

ID_Venta            0
Nombre_Cliente      0
Apellido_Cliente    0
Fecha               0
Producto            0
Cantidad            0
Precio_Unitario     0
Total_Venta         0
Metodo_Pago         0
Region              0
dtype: int64

In [ ]:
total_ventas_info = df.groupby('Fecha')[['Producto', 'Metodo_Pago']]
total_ventas_info.head()

                  Producto             Metodo_Pago
0                   Laptop      Tarjeta de Crédito
1        Mouse Inalámbrico                Efectivo
2         Teclado Mecánico  Transferencia Bancaria
3      Monitor 24 pulgadas       Tarjeta de Débito
4    Auriculares Bluetooth      Tarjeta de Crédito
..                     ...                     ...
100         Pen Drive 64GB       Tarjeta de Débito
101          Laptop Ligera      Tarjeta de Crédito
102          No Disponible                Efectivo
103      Teclado Bluetooth  Transferencia Bancaria
104   Monitor para Oficina       Tarjeta de Débito

[105 rows x 2 columns]

### 5. Visualización de los Datos con Matplotlib

En esta sección, deben utilizar la librería Matplotlib para crear **UNA** visualización que permitan comprender mejor los datos de ventas.El grafico es a elección, puede crear **UNO** de los siguientes: histogramas, diagramas de dispersión, gráficos de barras y graficos de torta.

### 6. Exportación a Archivo SQLite

Finalmente, deben utilizar la funcionalidad de Pandas para guardar el DataFrame procesado en una base de datos SQLite. Deben hacer una conexión y hacer una consulta para ver si los datos fueron cargados correctamente.

In [49]:
conn = sqlite3.connect('ventas.db')

sql_db = df.to_sql('ventas.db', conn, if_exists='replace', index=False)

conn.close()